[submodule "Engine/Libraries/DirectXTK"]
	path = Engine/Libraries/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
[submodule "Engine/Libraries/glfw"]
	path = Engine/Libraries/glfw
	url = https://github.com/glfw/glfw
[submodule "Engine/Libraries/ImGui"]
	path = Engine/Libraries/ImGui
	url = https://github.com/ocornut/imgui
[submodule "Engine/Libraries/spdlog"]
	path = Engine/Libraries/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/Libraries/rapidjson"]
	path = Engine/Libraries/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "Engine/Libraries/ImGuizmo"]
	path = Engine/Libraries/ImGuizmo
	url = https://github.com/jkorn2324/ImGuizmo.git
