[submodule "Engine/Libraries/DirectXTK"]
	path = Engine/Libraries/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
[submodule "Engine/Libraries/glfw"]
	path = Engine/Libraries/glfw
	url = https://github.com/glfw/glfw
[submodule "Engine/Libraries/ImGui"]
	path = Engine/Libraries/ImGui
	url = https://github.com/ocornut/imgui
